################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/packages
/WebAPI/WebAPI/bin
/WebAPI/WebAPI/obj/Debug
/WebAPI/WebAPI/Scripts
